
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  color: $text;
  background-color: $bg;
  line-height: 1.6;
}
.container{
  max-width: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}
