/* Base */
@import 'base/reset';
@import 'base/variables';
@import 'base/mixins';
@import 'base/globales';

/* Layout */
@import 'layout/header';
@import 'layout/hero';
@import 'layout/services';
@import 'layout/benefits';
@import 'layout/contact'; 
@import 'layout/footer';

/* Components */
@import 'components/buttons';
@import 'components/cards';
