.services{
    padding: 3rem 1rem;
    background-color: white;

    &__title{
        text-align: center;
        font-size: 2.8rem;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 2rem;
        color: $text;
    }
    &__grid{
        max-width: 120rem;
        margin: 0 auto;

        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr;
    }
} 

